<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">
  <Product Id="*" Name="PlusprofilAddinInstaller" Language="0" Version="0.9" Manufacturer="Digitaliseringsstyrelsen" UpgradeCode="d23f0b41-5868-439c-abb8-a2a411dce91f">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf"/>

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="Main" Title="Plusprofil Add-in" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <UIRef Id="WixUI_Minimal"/>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="INSTALLFOLDER" Name="Sparx Enterprise Architect - Plusprofil Add-in" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="AddinFiles" Guid="C86BAB32-EE56-4FE1-9DFE-C846F66AA6DD">
        <RegistryKey Root="HKCU" Key="Software\Sparx Systems\EAAddins\PlusprofilAddin">
          <RegistryValue Type="string" Value="EACustomWindow.MainClass" />
        </RegistryKey>
                <Class Id="{01629603-D3F9-3A27-AAD9-204A2666FBF1}" Context="InprocServer32" Description="PlusprofilAddin.ViewModels.ConnectorDialogViewModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.ViewModels.ConnectorDialogViewModel" Description="PlusprofilAddin.ViewModels.ConnectorDialogViewModel" />
                </Class>
                <Class Id="{1C7A3E23-77E4-35FD-931C-B30B2B3898AE}" Context="InprocServer32" Description="PlusprofilAddin.Views.ConnectorUserControl" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.Views.ConnectorUserControl" Description="PlusprofilAddin.Views.ConnectorUserControl" />
                </Class>
                <Class Id="{2130FAEA-1A93-304C-BD02-385DB242749A}" Context="InprocServer32" Description="PlusprofilAddin.ViewModels.PackageDialogViewModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.ViewModels.PackageDialogViewModel" Description="PlusprofilAddin.ViewModels.PackageDialogViewModel" />
                </Class>
                <Class Id="{257CF2D1-BDB3-3035-B7AD-DDF9ADEC5CE7}" Context="InprocServer32" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Description="XamlGeneratedNamespace.GeneratedInternalTypeHelper" />
                </Class>
                <Class Id="{4E15E9C8-61ED-3A54-9F50-4098CD1DFC6D}" Context="InprocServer32" Description="PlusprofilAddin.ViewModels.ConnectorUserControlViewModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.ViewModels.ConnectorUserControlViewModel" Description="PlusprofilAddin.ViewModels.ConnectorUserControlViewModel" />
                </Class>
                <Class Id="{52B54209-F209-38B1-A3D2-782A5A0C8ABE}" Context="InprocServer32" Description="PlusprofilAddin.Commands.SaveCommand" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.Commands.SaveCommand" Description="PlusprofilAddin.Commands.SaveCommand" />
                </Class>
                <Class Id="{6B213ADC-BE8E-3C5B-9B18-7C5BE9538E57}" Context="InprocServer32" Description="PlusprofilAddin.ViewModels.AttributeDialogViewModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.ViewModels.AttributeDialogViewModel" Description="PlusprofilAddin.ViewModels.AttributeDialogViewModel" />
                </Class>
                <Class Id="{7775036F-DE3D-3407-89F0-22A4F581C4D6}" Context="InprocServer32" Description="PlusprofilAddin.Views.ElementDialog" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.Views.ElementDialog" Description="PlusprofilAddin.Views.ElementDialog" />
                </Class>
                <Class Id="{794D4860-2A41-3FA8-82CC-97F5325C0E2E}" Context="InprocServer32" Description="PlusprofilAddin.Commands.RemoveCommandConverter" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.Commands.RemoveCommandConverter" Description="PlusprofilAddin.Commands.RemoveCommandConverter" />
                </Class>
                <Class Id="{819D5CE6-5CD1-3C2A-BA24-272936BFC5F2}" Context="InprocServer32" Description="PlusprofilAddin.Views.TaggedValueListGroupingControl" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.Views.TaggedValueListGroupingControl" Description="PlusprofilAddin.Views.TaggedValueListGroupingControl" />
                </Class>
                <Class Id="{9E33A080-B281-38F6-BC67-F8B3FEAE750A}" Context="InprocServer32" Description="PlusprofilAddin.Commands.RemoveCommand" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.Commands.RemoveCommand" Description="PlusprofilAddin.Commands.RemoveCommand" />
                </Class>
                <Class Id="{AE82F893-61F4-3D7B-BCE9-1988D495E05E}" Context="InprocServer32" Description="PlusprofilAddin.MainClass" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.MainClass" Description="PlusprofilAddin.MainClass" />
                </Class>
                <Class Id="{CA5E0CA2-A8E8-30DF-B723-2F237A103F02}" Context="InprocServer32" Description="PlusprofilAddin.Views.AttributeDialog" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.Views.AttributeDialog" Description="PlusprofilAddin.Views.AttributeDialog" />
                </Class>
                <Class Id="{D29936C0-1AE8-3279-92D6-34D7A2F49E3F}" Context="InprocServer32" Description="PlusprofilAddin.Commands.AddCommand" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.Commands.AddCommand" Description="PlusprofilAddin.Commands.AddCommand" />
                </Class>
                <Class Id="{D4713D98-8902-3AB6-9A45-0A26A4696DAC}" Context="InprocServer32" Description="PlusprofilAddin.Views.ConnectorDialog" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.Views.ConnectorDialog" Description="PlusprofilAddin.Views.ConnectorDialog" />
                </Class>
                <Class Id="{DB874298-A9F6-36EC-A3A6-770113B51BF8}" Context="InprocServer32" Description="PlusprofilAddin.Views.PackageDialog" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.Views.PackageDialog" Description="PlusprofilAddin.Views.PackageDialog" />
                </Class>
                <Class Id="{F5AD887F-85AD-369B-9F44-95187A058BCA}" Context="InprocServer32" Description="PlusprofilAddin.Views.TaggedValueListControl" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.Views.TaggedValueListControl" Description="PlusprofilAddin.Views.TaggedValueListControl" />
                </Class>
                <Class Id="{F92824F5-0298-367F-B9AD-3367E4628E19}" Context="InprocServer32" Description="PlusprofilAddin.ViewModels.ElementDialogViewModel" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.ViewModels.ElementDialogViewModel" Description="PlusprofilAddin.ViewModels.ElementDialogViewModel" />
                </Class>
                <Class Id="{FD87DCA2-EBB6-38FA-89BC-CD9C937B54A8}" Context="InprocServer32" Description="PlusprofilAddin.Commands.CancelCommand" ThreadingModel="both" ForeignServer="mscoree.dll">
                    <ProgId Id="PlusprofilAddin.Commands.CancelCommand" Description="PlusprofilAddin.Commands.CancelCommand" />
                </Class>
                <File Id="PlusprofilAddinDll" Name="PlusprofilAddin.dll" Source="..\PlusprofilAddin\bin\Debug\PlusprofilAddin.dll" />
                <ProgId Id="Record" />
                <RegistryValue Root="HKCR" Key="CLSID\{01629603-D3F9-3A27-AAD9-204A2666FBF1}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{01629603-D3F9-3A27-AAD9-204A2666FBF1}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.ViewModels.ConnectorDialogViewModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{01629603-D3F9-3A27-AAD9-204A2666FBF1}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{01629603-D3F9-3A27-AAD9-204A2666FBF1}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{01629603-D3F9-3A27-AAD9-204A2666FBF1}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{01629603-D3F9-3A27-AAD9-204A2666FBF1}\InprocServer32" Name="Class" Value="PlusprofilAddin.ViewModels.ConnectorDialogViewModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{01629603-D3F9-3A27-AAD9-204A2666FBF1}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{01629603-D3F9-3A27-AAD9-204A2666FBF1}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{01629603-D3F9-3A27-AAD9-204A2666FBF1}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1C7A3E23-77E4-35FD-931C-B30B2B3898AE}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1C7A3E23-77E4-35FD-931C-B30B2B3898AE}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.Views.ConnectorUserControl" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1C7A3E23-77E4-35FD-931C-B30B2B3898AE}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1C7A3E23-77E4-35FD-931C-B30B2B3898AE}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1C7A3E23-77E4-35FD-931C-B30B2B3898AE}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1C7A3E23-77E4-35FD-931C-B30B2B3898AE}\InprocServer32" Name="Class" Value="PlusprofilAddin.Views.ConnectorUserControl" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1C7A3E23-77E4-35FD-931C-B30B2B3898AE}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1C7A3E23-77E4-35FD-931C-B30B2B3898AE}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{1C7A3E23-77E4-35FD-931C-B30B2B3898AE}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2130FAEA-1A93-304C-BD02-385DB242749A}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2130FAEA-1A93-304C-BD02-385DB242749A}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.ViewModels.PackageDialogViewModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2130FAEA-1A93-304C-BD02-385DB242749A}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2130FAEA-1A93-304C-BD02-385DB242749A}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2130FAEA-1A93-304C-BD02-385DB242749A}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2130FAEA-1A93-304C-BD02-385DB242749A}\InprocServer32" Name="Class" Value="PlusprofilAddin.ViewModels.PackageDialogViewModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2130FAEA-1A93-304C-BD02-385DB242749A}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2130FAEA-1A93-304C-BD02-385DB242749A}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{2130FAEA-1A93-304C-BD02-385DB242749A}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{257CF2D1-BDB3-3035-B7AD-DDF9ADEC5CE7}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{257CF2D1-BDB3-3035-B7AD-DDF9ADEC5CE7}\InprocServer32\1.0.0.0" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{257CF2D1-BDB3-3035-B7AD-DDF9ADEC5CE7}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{257CF2D1-BDB3-3035-B7AD-DDF9ADEC5CE7}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{257CF2D1-BDB3-3035-B7AD-DDF9ADEC5CE7}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{257CF2D1-BDB3-3035-B7AD-DDF9ADEC5CE7}\InprocServer32" Name="Class" Value="XamlGeneratedNamespace.GeneratedInternalTypeHelper" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{257CF2D1-BDB3-3035-B7AD-DDF9ADEC5CE7}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{257CF2D1-BDB3-3035-B7AD-DDF9ADEC5CE7}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{257CF2D1-BDB3-3035-B7AD-DDF9ADEC5CE7}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4E15E9C8-61ED-3A54-9F50-4098CD1DFC6D}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4E15E9C8-61ED-3A54-9F50-4098CD1DFC6D}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.ViewModels.ConnectorUserControlViewModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4E15E9C8-61ED-3A54-9F50-4098CD1DFC6D}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4E15E9C8-61ED-3A54-9F50-4098CD1DFC6D}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4E15E9C8-61ED-3A54-9F50-4098CD1DFC6D}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4E15E9C8-61ED-3A54-9F50-4098CD1DFC6D}\InprocServer32" Name="Class" Value="PlusprofilAddin.ViewModels.ConnectorUserControlViewModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4E15E9C8-61ED-3A54-9F50-4098CD1DFC6D}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4E15E9C8-61ED-3A54-9F50-4098CD1DFC6D}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{4E15E9C8-61ED-3A54-9F50-4098CD1DFC6D}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{52B54209-F209-38B1-A3D2-782A5A0C8ABE}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{52B54209-F209-38B1-A3D2-782A5A0C8ABE}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.Commands.SaveCommand" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{52B54209-F209-38B1-A3D2-782A5A0C8ABE}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{52B54209-F209-38B1-A3D2-782A5A0C8ABE}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{52B54209-F209-38B1-A3D2-782A5A0C8ABE}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{52B54209-F209-38B1-A3D2-782A5A0C8ABE}\InprocServer32" Name="Class" Value="PlusprofilAddin.Commands.SaveCommand" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{52B54209-F209-38B1-A3D2-782A5A0C8ABE}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{52B54209-F209-38B1-A3D2-782A5A0C8ABE}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{52B54209-F209-38B1-A3D2-782A5A0C8ABE}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6B213ADC-BE8E-3C5B-9B18-7C5BE9538E57}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6B213ADC-BE8E-3C5B-9B18-7C5BE9538E57}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.ViewModels.AttributeDialogViewModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6B213ADC-BE8E-3C5B-9B18-7C5BE9538E57}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6B213ADC-BE8E-3C5B-9B18-7C5BE9538E57}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6B213ADC-BE8E-3C5B-9B18-7C5BE9538E57}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6B213ADC-BE8E-3C5B-9B18-7C5BE9538E57}\InprocServer32" Name="Class" Value="PlusprofilAddin.ViewModels.AttributeDialogViewModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6B213ADC-BE8E-3C5B-9B18-7C5BE9538E57}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6B213ADC-BE8E-3C5B-9B18-7C5BE9538E57}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{6B213ADC-BE8E-3C5B-9B18-7C5BE9538E57}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7775036F-DE3D-3407-89F0-22A4F581C4D6}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7775036F-DE3D-3407-89F0-22A4F581C4D6}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.Views.ElementDialog" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7775036F-DE3D-3407-89F0-22A4F581C4D6}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7775036F-DE3D-3407-89F0-22A4F581C4D6}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7775036F-DE3D-3407-89F0-22A4F581C4D6}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7775036F-DE3D-3407-89F0-22A4F581C4D6}\InprocServer32" Name="Class" Value="PlusprofilAddin.Views.ElementDialog" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7775036F-DE3D-3407-89F0-22A4F581C4D6}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7775036F-DE3D-3407-89F0-22A4F581C4D6}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{7775036F-DE3D-3407-89F0-22A4F581C4D6}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{794D4860-2A41-3FA8-82CC-97F5325C0E2E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{794D4860-2A41-3FA8-82CC-97F5325C0E2E}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.Commands.RemoveCommandConverter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{794D4860-2A41-3FA8-82CC-97F5325C0E2E}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{794D4860-2A41-3FA8-82CC-97F5325C0E2E}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{794D4860-2A41-3FA8-82CC-97F5325C0E2E}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{794D4860-2A41-3FA8-82CC-97F5325C0E2E}\InprocServer32" Name="Class" Value="PlusprofilAddin.Commands.RemoveCommandConverter" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{794D4860-2A41-3FA8-82CC-97F5325C0E2E}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{794D4860-2A41-3FA8-82CC-97F5325C0E2E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{794D4860-2A41-3FA8-82CC-97F5325C0E2E}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{819D5CE6-5CD1-3C2A-BA24-272936BFC5F2}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{819D5CE6-5CD1-3C2A-BA24-272936BFC5F2}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.Views.TaggedValueListGroupingControl" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{819D5CE6-5CD1-3C2A-BA24-272936BFC5F2}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{819D5CE6-5CD1-3C2A-BA24-272936BFC5F2}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{819D5CE6-5CD1-3C2A-BA24-272936BFC5F2}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{819D5CE6-5CD1-3C2A-BA24-272936BFC5F2}\InprocServer32" Name="Class" Value="PlusprofilAddin.Views.TaggedValueListGroupingControl" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{819D5CE6-5CD1-3C2A-BA24-272936BFC5F2}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{819D5CE6-5CD1-3C2A-BA24-272936BFC5F2}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{819D5CE6-5CD1-3C2A-BA24-272936BFC5F2}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E33A080-B281-38F6-BC67-F8B3FEAE750A}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E33A080-B281-38F6-BC67-F8B3FEAE750A}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.Commands.RemoveCommand" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E33A080-B281-38F6-BC67-F8B3FEAE750A}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E33A080-B281-38F6-BC67-F8B3FEAE750A}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E33A080-B281-38F6-BC67-F8B3FEAE750A}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E33A080-B281-38F6-BC67-F8B3FEAE750A}\InprocServer32" Name="Class" Value="PlusprofilAddin.Commands.RemoveCommand" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E33A080-B281-38F6-BC67-F8B3FEAE750A}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E33A080-B281-38F6-BC67-F8B3FEAE750A}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{9E33A080-B281-38F6-BC67-F8B3FEAE750A}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AE82F893-61F4-3D7B-BCE9-1988D495E05E}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AE82F893-61F4-3D7B-BCE9-1988D495E05E}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.MainClass" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AE82F893-61F4-3D7B-BCE9-1988D495E05E}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AE82F893-61F4-3D7B-BCE9-1988D495E05E}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AE82F893-61F4-3D7B-BCE9-1988D495E05E}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AE82F893-61F4-3D7B-BCE9-1988D495E05E}\InprocServer32" Name="Class" Value="PlusprofilAddin.MainClass" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AE82F893-61F4-3D7B-BCE9-1988D495E05E}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AE82F893-61F4-3D7B-BCE9-1988D495E05E}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{AE82F893-61F4-3D7B-BCE9-1988D495E05E}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA5E0CA2-A8E8-30DF-B723-2F237A103F02}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA5E0CA2-A8E8-30DF-B723-2F237A103F02}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.Views.AttributeDialog" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA5E0CA2-A8E8-30DF-B723-2F237A103F02}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA5E0CA2-A8E8-30DF-B723-2F237A103F02}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA5E0CA2-A8E8-30DF-B723-2F237A103F02}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA5E0CA2-A8E8-30DF-B723-2F237A103F02}\InprocServer32" Name="Class" Value="PlusprofilAddin.Views.AttributeDialog" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA5E0CA2-A8E8-30DF-B723-2F237A103F02}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA5E0CA2-A8E8-30DF-B723-2F237A103F02}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{CA5E0CA2-A8E8-30DF-B723-2F237A103F02}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D29936C0-1AE8-3279-92D6-34D7A2F49E3F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D29936C0-1AE8-3279-92D6-34D7A2F49E3F}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.Commands.AddCommand" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D29936C0-1AE8-3279-92D6-34D7A2F49E3F}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D29936C0-1AE8-3279-92D6-34D7A2F49E3F}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D29936C0-1AE8-3279-92D6-34D7A2F49E3F}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D29936C0-1AE8-3279-92D6-34D7A2F49E3F}\InprocServer32" Name="Class" Value="PlusprofilAddin.Commands.AddCommand" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D29936C0-1AE8-3279-92D6-34D7A2F49E3F}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D29936C0-1AE8-3279-92D6-34D7A2F49E3F}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D29936C0-1AE8-3279-92D6-34D7A2F49E3F}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4713D98-8902-3AB6-9A45-0A26A4696DAC}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4713D98-8902-3AB6-9A45-0A26A4696DAC}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.Views.ConnectorDialog" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4713D98-8902-3AB6-9A45-0A26A4696DAC}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4713D98-8902-3AB6-9A45-0A26A4696DAC}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4713D98-8902-3AB6-9A45-0A26A4696DAC}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4713D98-8902-3AB6-9A45-0A26A4696DAC}\InprocServer32" Name="Class" Value="PlusprofilAddin.Views.ConnectorDialog" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4713D98-8902-3AB6-9A45-0A26A4696DAC}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4713D98-8902-3AB6-9A45-0A26A4696DAC}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{D4713D98-8902-3AB6-9A45-0A26A4696DAC}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB874298-A9F6-36EC-A3A6-770113B51BF8}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB874298-A9F6-36EC-A3A6-770113B51BF8}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.Views.PackageDialog" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB874298-A9F6-36EC-A3A6-770113B51BF8}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB874298-A9F6-36EC-A3A6-770113B51BF8}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB874298-A9F6-36EC-A3A6-770113B51BF8}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB874298-A9F6-36EC-A3A6-770113B51BF8}\InprocServer32" Name="Class" Value="PlusprofilAddin.Views.PackageDialog" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB874298-A9F6-36EC-A3A6-770113B51BF8}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB874298-A9F6-36EC-A3A6-770113B51BF8}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{DB874298-A9F6-36EC-A3A6-770113B51BF8}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F5AD887F-85AD-369B-9F44-95187A058BCA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F5AD887F-85AD-369B-9F44-95187A058BCA}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.Views.TaggedValueListControl" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F5AD887F-85AD-369B-9F44-95187A058BCA}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F5AD887F-85AD-369B-9F44-95187A058BCA}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F5AD887F-85AD-369B-9F44-95187A058BCA}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F5AD887F-85AD-369B-9F44-95187A058BCA}\InprocServer32" Name="Class" Value="PlusprofilAddin.Views.TaggedValueListControl" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F5AD887F-85AD-369B-9F44-95187A058BCA}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F5AD887F-85AD-369B-9F44-95187A058BCA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F5AD887F-85AD-369B-9F44-95187A058BCA}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F92824F5-0298-367F-B9AD-3367E4628E19}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F92824F5-0298-367F-B9AD-3367E4628E19}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.ViewModels.ElementDialogViewModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F92824F5-0298-367F-B9AD-3367E4628E19}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F92824F5-0298-367F-B9AD-3367E4628E19}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F92824F5-0298-367F-B9AD-3367E4628E19}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F92824F5-0298-367F-B9AD-3367E4628E19}\InprocServer32" Name="Class" Value="PlusprofilAddin.ViewModels.ElementDialogViewModel" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F92824F5-0298-367F-B9AD-3367E4628E19}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F92824F5-0298-367F-B9AD-3367E4628E19}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{F92824F5-0298-367F-B9AD-3367E4628E19}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD87DCA2-EBB6-38FA-89BC-CD9C937B54A8}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD87DCA2-EBB6-38FA-89BC-CD9C937B54A8}\InprocServer32\1.0.0.0" Name="Class" Value="PlusprofilAddin.Commands.CancelCommand" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD87DCA2-EBB6-38FA-89BC-CD9C937B54A8}\InprocServer32\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD87DCA2-EBB6-38FA-89BC-CD9C937B54A8}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD87DCA2-EBB6-38FA-89BC-CD9C937B54A8}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD87DCA2-EBB6-38FA-89BC-CD9C937B54A8}\InprocServer32" Name="Class" Value="PlusprofilAddin.Commands.CancelCommand" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD87DCA2-EBB6-38FA-89BC-CD9C937B54A8}\InprocServer32" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD87DCA2-EBB6-38FA-89BC-CD9C937B54A8}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="CLSID\{FD87DCA2-EBB6-38FA-89BC-CD9C937B54A8}\InprocServer32" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Class" Value="EA.ObjectType" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Assembly" Value="PlusprofilAddin, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="CodeBase" Value="file:///[#PlusprofilAddinDll]" Type="string" Action="write" />
            </Component>
      <Component Id="FileAndFolderRemover">
        <RemoveFile Id="RemoveAllFiles" Name="*" On="uninstall" />
        <RemoveFolder Id="RemoveFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\Sparx Systems\EAAddins\PlusprofilAddin" Name="Path" Type="string" Value="[INSTALLDIR]"/>
        <util:RemoveFolderEx On="uninstall" Property="INSTALLDIR" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>