<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<DirectoryRef Id="TARGETDIR">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="EACustomWindow">
					<Component Id="EACustomWindowFiles" Guid="76B6EAB5-5D24-41F5-A0E6-1752AE9C9C7F" DiskId="1">
						<File Id="LicenseFile" Name="license.rtf" Source="license.rtf" /><Class Id="{13444DD7-E041-3274-A4D6-E9307E5F9255}" Context="InprocServer32" Description="EACustomWindow.ConnectorUserControl" ThreadingModel="both" ForeignServer="mscoree.dll">
		                    <ProgId Id="EACustomWindow.ConnectorUserControl" Description="EACustomWindow.ConnectorUserControl" />
		                </Class>
		                <Class Id="{2BCDB8CA-F291-3BEF-A2FD-3ACBCAED1FBA}" Context="InprocServer32" Description="KeyboardHook" ThreadingModel="both" ForeignServer="mscoree.dll">
		                    <ProgId Id="KeyboardHook" Description="KeyboardHook" />
		                </Class>
		                <Class Id="{4DC6DC5D-E771-3441-A186-F3F8BD123512}" Context="InprocServer32" Description="EACustomWindow.EAUserControl" ThreadingModel="both" ForeignServer="mscoree.dll">
		                    <ProgId Id="EACustomWindow.EAUserControl" Description="EACustomWindow.EAUserControl" />
		                </Class>
		                <Class Id="{E87B7087-A159-33C9-9C1E-5D0C0DE21F6F}" Context="InprocServer32" Description="EACustomWindow.MainClass" ThreadingModel="both" ForeignServer="mscoree.dll">
		                    <ProgId Id="EACustomWindow.MainClass" Description="EACustomWindow.MainClass" />
		                </Class>
		                <File Id="filA31C693293918B8DAB48469C2FDCADC5" Name="EACustomWindow.dll" KeyPath="yes" Source="C:\EACustomWindow\src\examples\EACustomWindow\EACustomWindow\bin\Debug\EACustomWindow.dll" />
		                <ProgId Id="Record" />
		                <RegistryValue Root="HKCR" Key="CLSID\{13444DD7-E041-3274-A4D6-E9307E5F9255}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{13444DD7-E041-3274-A4D6-E9307E5F9255}\InprocServer32\1.0.0.0" Name="Class" Value="EACustomWindow.ConnectorUserControl" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{13444DD7-E041-3274-A4D6-E9307E5F9255}\InprocServer32\1.0.0.0" Name="Assembly" Value="EACustomWindow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{13444DD7-E041-3274-A4D6-E9307E5F9255}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{13444DD7-E041-3274-A4D6-E9307E5F9255}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filA31C693293918B8DAB48469C2FDCADC5]" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{13444DD7-E041-3274-A4D6-E9307E5F9255}\InprocServer32" Name="Class" Value="EACustomWindow.ConnectorUserControl" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{13444DD7-E041-3274-A4D6-E9307E5F9255}\InprocServer32" Name="Assembly" Value="EACustomWindow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{13444DD7-E041-3274-A4D6-E9307E5F9255}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{13444DD7-E041-3274-A4D6-E9307E5F9255}\InprocServer32" Name="CodeBase" Value="file:///[#filA31C693293918B8DAB48469C2FDCADC5]" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{2BCDB8CA-F291-3BEF-A2FD-3ACBCAED1FBA}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{2BCDB8CA-F291-3BEF-A2FD-3ACBCAED1FBA}\InprocServer32\1.0.0.0" Name="Class" Value="KeyboardHook" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{2BCDB8CA-F291-3BEF-A2FD-3ACBCAED1FBA}\InprocServer32\1.0.0.0" Name="Assembly" Value="EACustomWindow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{2BCDB8CA-F291-3BEF-A2FD-3ACBCAED1FBA}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{2BCDB8CA-F291-3BEF-A2FD-3ACBCAED1FBA}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filA31C693293918B8DAB48469C2FDCADC5]" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{2BCDB8CA-F291-3BEF-A2FD-3ACBCAED1FBA}\InprocServer32" Name="Class" Value="KeyboardHook" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{2BCDB8CA-F291-3BEF-A2FD-3ACBCAED1FBA}\InprocServer32" Name="Assembly" Value="EACustomWindow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{2BCDB8CA-F291-3BEF-A2FD-3ACBCAED1FBA}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{2BCDB8CA-F291-3BEF-A2FD-3ACBCAED1FBA}\InprocServer32" Name="CodeBase" Value="file:///[#filA31C693293918B8DAB48469C2FDCADC5]" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{4DC6DC5D-E771-3441-A186-F3F8BD123512}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{4DC6DC5D-E771-3441-A186-F3F8BD123512}\InprocServer32\1.0.0.0" Name="Class" Value="EACustomWindow.EAUserControl" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{4DC6DC5D-E771-3441-A186-F3F8BD123512}\InprocServer32\1.0.0.0" Name="Assembly" Value="EACustomWindow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{4DC6DC5D-E771-3441-A186-F3F8BD123512}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{4DC6DC5D-E771-3441-A186-F3F8BD123512}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filA31C693293918B8DAB48469C2FDCADC5]" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{4DC6DC5D-E771-3441-A186-F3F8BD123512}\InprocServer32" Name="Class" Value="EACustomWindow.EAUserControl" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{4DC6DC5D-E771-3441-A186-F3F8BD123512}\InprocServer32" Name="Assembly" Value="EACustomWindow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{4DC6DC5D-E771-3441-A186-F3F8BD123512}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{4DC6DC5D-E771-3441-A186-F3F8BD123512}\InprocServer32" Name="CodeBase" Value="file:///[#filA31C693293918B8DAB48469C2FDCADC5]" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{E87B7087-A159-33C9-9C1E-5D0C0DE21F6F}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}" Value="" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{E87B7087-A159-33C9-9C1E-5D0C0DE21F6F}\InprocServer32\1.0.0.0" Name="Class" Value="EACustomWindow.MainClass" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{E87B7087-A159-33C9-9C1E-5D0C0DE21F6F}\InprocServer32\1.0.0.0" Name="Assembly" Value="EACustomWindow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{E87B7087-A159-33C9-9C1E-5D0C0DE21F6F}\InprocServer32\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{E87B7087-A159-33C9-9C1E-5D0C0DE21F6F}\InprocServer32\1.0.0.0" Name="CodeBase" Value="file:///[#filA31C693293918B8DAB48469C2FDCADC5]" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{E87B7087-A159-33C9-9C1E-5D0C0DE21F6F}\InprocServer32" Name="Class" Value="EACustomWindow.MainClass" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{E87B7087-A159-33C9-9C1E-5D0C0DE21F6F}\InprocServer32" Name="Assembly" Value="EACustomWindow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{E87B7087-A159-33C9-9C1E-5D0C0DE21F6F}\InprocServer32" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="CLSID\{E87B7087-A159-33C9-9C1E-5D0C0DE21F6F}\InprocServer32" Name="CodeBase" Value="file:///[#filA31C693293918B8DAB48469C2FDCADC5]" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="Record\{27FBE29B-3359-3F45-A87A-F71389D5030A}\1.0.0.0" Name="Class" Value="ModifierKeys" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="Record\{27FBE29B-3359-3F45-A87A-F71389D5030A}\1.0.0.0" Name="Assembly" Value="EACustomWindow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="Record\{27FBE29B-3359-3F45-A87A-F71389D5030A}\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="Record\{27FBE29B-3359-3F45-A87A-F71389D5030A}\1.0.0.0" Name="CodeBase" Value="file:///[#filA31C693293918B8DAB48469C2FDCADC5]" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Class" Value="EA.ObjectType" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="Assembly" Value="EACustomWindow, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
		                <RegistryValue Root="HKCR" Key="Record\{5E1E504C-95C7-4B14-A0F6-70329F70084A}\1.0.0.0" Name="CodeBase" Value="file:///[#filA31C693293918B8DAB48469C2FDCADC5]" Type="string" Action="write" />
					</Component>
					<Component Id="EACustomWindowRegEntries" Guid="AE20635F-D67C-4A2C-B586-67EF0DABBAD8">
						<RegistryKey Root="HKCU" Key="Software\Sparx Systems\EAAddins\MyAddin" Action="createAndRemoveOnUninstall">
							<RegistryValue Type="string" Value="EACustomWindow.MainClass" />
						</RegistryKey>
					</Component>
				</Directory>
			</Directory>
		</DirectoryRef>
	</Fragment>
</Wix>
